
html{
    /* min-width: 100%; */
    min-width: 100px;
    margin: 0 auto;
    padding: 0 ;
}


body{
    /* min-width: 100%; */
    min-width: 100px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%) ;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
}


.container{
    /* min-width: 100%; */
    min-width: 100px;
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    position: relative;
    top: 90px;
    


max-height: 590px;
    width: 350px;
    
    
}


.ethereum-img>img{
  
    
    padding: 50px;
   width: 290px;
   height: 280px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 50px;
    left: 28px;
    right: auto;
     bottom: auto;
    border-radius: 10px;
    }

        
     .head{
        /* min-width: 100%; */
        min-width: 100px;
      margin-top: 0px;  
      padding-left: 30px;
        display: flex;
        position: relative;
        top: 20px;
        font-weight: 600;
    }

.detail{
    /* min-width: 100%; */
    min-width: 100px;
        position: relative;
       bottom: 15px;
        padding:30px;
        color: hsl(215, 51%, 70%);
        font-weight: 300;


    }

    .head:hover{
        color: hsl(178, 100%, 50%);
    }
      
   

    .data{
        /* min-width: 100%; */
        min-width: 100px;
    
    padding: 30px;
    position: relative;
    bottom: 56px;
    display: flex;
    justify-content: space-between;
   }

   .data-1{
    font-weight: 600;
    color:hsl(178, 100%, 50%);

   }
   .data-2{
    font-weight: 300;
    color: hsl(215, 51%, 70%);
   }
   
    
  
    hr{
    /* max-width: 100%; */
    min-width: 100px;
        border:0.1px solid hsl(215, 51%, 70%) ;
        width: 280px;
        position: relative;
        bottom:68px;
        opacity: 0.2;
        
    }


        .creator{
            /* min-width: 100%; */
            min-width: 100px;
        padding: 20px;
        position: relative;
        bottom: 70px;
        display: flex;
       justify-content: space-around;
    }

    .creator>img{
        height: 40px;
        position:relative;
        bottom:10px;
        border: 1px solid;
        border-radius: 20px;
        
    }
    .creator>span{
        margin-right: 35px;
    }
    
  .creation{
    color: hsl(215, 51%, 70%);
    
  }
  .name:hover{
    color:  hsl(178, 100%, 50%);
  }
  
   @media only screen and (min-width: 375px), ( max-width:1440px){}